@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MyriadPro-Regular.otf');
}

body {
    background-image: url(../images/bg.png);
    font-family: 'Myriad Pro Regular';
}

body a {
    cursor: pointer;
}

body input,
body button {
    outline: none;
}

.title-logo {
    float: left;
    margin: 0;
    color: #7d8a93;
    font-weight: 600;
    font-size: 30px;
    margin-top: 2px;
}

.button-right {
    float: right;
}

.button-right a {
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid #707070;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #707070;
    margin-left: 15px;
}

.top-header {
    padding-top: 15px;
}

.link-lessona {
    border: 1px dashed #60b23c;
    background-color: #dcf2ce;
    padding: 21px 15px;
    border-radius: 10px;
    text-align: center;
}

.link-lessona a {
    color: #60b23c;
    font-size: 18px;
    white-space: nowrap;
}

.box-top-content {
    background-color: #dddfed;
    border: 1px dashed #b2b7d2;
    border-radius: 10px;
    padding: 21px 15px;
}

.top-content {
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon-next {
    width: 16px;
    height: 16px;
    background-image: url(../images/next.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.main-content {
    background-color: #fff;
    min-height: 700px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #bdcfdc;
    padding: 15px;
    padding: 15px;
}

.title-1 {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}

.tilte-2 {
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.main-search {
    position: relative;
    margin-top: 32px;
}

.main-search input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/magnifying-glass.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    background-color: #c2c4dd;
    border: 0;
}

.main-search input[type="text"] {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 50px;
}

.select-class span {
    padding: 0 5px;
    height: 40px;
    width: 40px;
    display: inline-block;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #fff;
}

.select-class span a {
    color: #000;
    font-style: italic;
}

.select-class span.class-1 {
    background-color: #c2c4dd;
}

.select-class span.class-2 {
    background-color: #f1db65;
}

.select-class span.class-3 {
    background-color: #2ee57b;
}

.select-class span.class-4 {
    background-color: #ff605e;
}

.title-3 {
    font-style: italic;
    text-align: center;
    font-size: 16px;
}

.section-class {
    padding-left: 0px;
}

.subject {
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 6px;
}

.subject-1 {
    background-color: #ffc79f;
}

.subject-2 {
    background-color: #b1e58d;
}

.subject-3 {
    background-color: #9bd3f0;
}

.footer-menu {
    border: 1px solid #596392;
    border-radius: 6px;
}

.footer-menu ul {
    padding-left: 0;
}

.footer-menu ul li {
    list-style: none;
    font-size: 15px;
    margin-bottom: 5px;
}

.footer-menu ul li a {
    color: #282f50;
    text-decoration: underline;
}

.footer-menu p {
    font-size: 18px;
    color: #596392;
}

.bottom-footer {
    background-color: #fff;
    padding: 20px 0;
    margin-top: 10px;
    border-radius: 7px;
}

.footer-text2 {
    text-align: right;
    padding-top: 5px;
    margin-bottom: 0;
}

.icons-social {
    padding-left: 7px;
}

.icons-social img:hover {
    opacity: .8;
}

.modal-content {
    border: 1px solid #596392;
}

.modal-body input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #596392;
    height: 40px;
    padding: 0 15px;
    border-radius: 4px;
    outline: none;
}

.modal-body span {
    font-size: 16px;
}

.modal-body button {
    font-size: 17px;
    background-color: #85aace;
    border: 0;
    height: 40px;
    color: #fff;
    padding: 3px 15px;
    border-radius: 4px;
    margin-top: 10px;
    outline: none;
}

.red-text {
    color: red;
}

.prev-page a {
    color: #4ab65d;
    font-size: 24px;
}

.prev-page {
    margin-bottom: 30px
}

.prev-page a img {
    transform: rotate(180deg);
}

.pages span {
    min-width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    padding: 0 5px;
    font-size: 25px;
    margin: 3px;
    transition: all ease .4s;
    font-style: italic;
}

.pages span:hover {
    opacity: .7;
}

.pages span a {
    color: #000;
}

.book-1 span {
    background-color: #c2c4dd;
}

.books {
    max-width: 100%;
    margin: 0 auto;
    width: 208px;
    height: 262px;
    object-fit: cover;
    transform: scale(1);
    transition: all ease .4s;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(128, 128, 128, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(128, 128, 128, 1);
    box-shadow: 0px 0px 7px 0px rgba(128, 128, 128, 1);
    margin-bottom: 15px;
}

.books:hover {
    transform: scale(1.1);
}

.box-books {
    text-align: center;
}

.box-books p {
    font-size: 18px;
    color: #000;
}

.video-box {
    width: 760px;
    margin: 0 auto;
    max-width: 100%;
    border: 4px solid #298df0;
}

.video-box video {
    width: 100%;
    border-radius: 4px;
}

.name-class {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 7px;
}

.information-stud {
    background-color: #dfedf7;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.icon-user {
    float: left;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 4px solid #fff;
    margin-right: 10px;
}

.information-stud ul {
    padding: 0;
    display: block;
    margin-top: 10px;
}

.information-stud li {
    list-style: none;
    padding: 10px 7px;
    background-color: #fff;
    margin: 5px 0;
}
.title-4{
    border-bottom: 6px solid #4ecdf3;
    
}
.title-4 span{
    background-color: #4ecdf3;
    display: inline-block;
    padding: 7px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 15px;
}
.newboxes-2{
    display: none;
}
@media (min-width:992px) {
    .box-top-content {
        width: 74%;
        margin-right: 1%;
    }
}

@media (min-width:768px) {
    .link-lessona, .box-top-content {
        height: 71px;
    }
    .footer-menu .col-md-3 {
        border-right: 1px solid #596392;
        height: 200px;
        padding: 25px 15px;
        overflow: hidden;
    }
    .footer-menu .col-md-3:last-child {
        border: 0;
    }
    .modal-dialog {
        width: 450px
    }
}

@media (min-width:768px) and @media (max-width:992px) {
    .box-top-content {
        width: 65.66666667%;
        margin-right: 1%;
    }
}

@media (max-width:1200px) {
    .link-lessona a {
        font-size: 15px;
    }
    .select-class span {
        width: 38px;
    }
    .footer-menu p {
        font-size: 16px;
    }
    .footer-menu ul li {
        font-size: 14px;
    }
}

@media (max-width:767px) {
    .button-right a {
        padding: 5px 10px;
        font-size: 13px;
        margin-left: 0px;
    }
    .title-logo {
        font-size: 26px;
        text-align: center;
        float: none;
        margin-top: 10px;
    }
    .link-lessona,
    .box-top-content {
        padding: 15px;
        margin-top: 5px;
    }
    .button-right {
        float: none;
        display: block;
        text-align: right;
    }
    .section-class {
        text-align: center;
    }
    .subject {
        margin-bottom: 10px;
    }
    .bottom-footer {
        /*        margin-bottom: 10px;*/
        padding: 10px 0;
    }
    .bottom-footer,
    .footer-text2 {
        text-align: center;
        font-size: 12px;
    }
    .icons-social img {
        width: 20px;
    }
}